{% extends 'base.html' %}


{% block content %}
    <h1 class="text-center text-light mb-3">Edit Message...</h1>

    <div class="shadow p-3 mb-5 bg-dark text-light rounded">
        <form action="{{ url_for('posts.edit_message', message_id=message_id) }}" method="post">
            {{ form.hidden_tag() }}

            {{ form.content.label(class='form-label')}}
            {{ form.content(class='form-control', rows='5', style="background-color: #c9c9c9;")}}

            <button type="submit" class="btn btn-secondary btn-sm mt-3">Save</button>
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content')}}
    </div>    
    <a href="{{ referrer }}" class="btn btn-dark btn-sm"><i class="bi bi-arrow-left-short"></i> Back to Post</a>    

{% endblock %}