{% extends 'base.html' %}

{% block content %}
    <P><a href="{{ url_for('main.index') }}" class="link-light">index</a> <strong>></strong> <a href="{{ url_for('posts.posts_category', category=slug) }}" class="link-light">{{ post.category.name }}</a> <strong>></strong> {{ post.title }}</P>

    <h2 class="text-center text-light mb-4">{{ post.title }}</h2>

    <!-- Show pages buttons -->
    <div class="row my-4">
        <div class="col-12">
            <a href="{{ url_for('posts.view_messages', slug=slug, id=id, page_number=page_number - 1) }}" class="btn btn-light"><i class="bi bi-arrow-left d-flex justify-content-center"></i></a>
            {% for i in range(number_of_pages) %}
                {% if (i + 1) == page_number %}
                    <a href="{{ url_for('posts.view_messages', slug=slug, id=id, page_number=i+1) }}" class="btn btn-dark btn-sm">{{ i + 1 }}</a>
                {% else %}
                    <a href="{{ url_for('posts.view_messages', slug=slug, id=id, page_number=i+1) }}" class="btn btn-light btn-sm">{{ i + 1 }}</a>
                {% endif %}
            {% endfor %}
            {% if page_number != number_of_pages %}
                <a href="{{ url_for('posts.view_messages', slug=slug, id=id, page_number=page_number + 1) }}" class="btn btn-light"><i class="bi bi-arrow-right d-flex justify-content-center"></i></a>
            {% endif %}
        </div>
    </div>

    <!-- Display all replays -->
    <div class="row g-2">
        {% if messages %}
            {% for message in messages[start_list_index:end_list_index] %}
                {% if message.post_id == id %}
                    <div class="col-12">
                        <div class="shadow card bg-dark text-light">
                            <div class="card-header">
                                <div class="d-flex bd-highlight">
                                    <div class="p-2 bd-highlight">
                                        {% if message.user_message.profile_pic %}
                                            <img src="{{ url_for('static', filename='images/' + message.user_message.profile_pic) }}" alt="" srcset="" width="50" class="rounded-circle">
                                        {% else %}
                                            <img src="{{ url_for('static', filename='images/default_profile_pic.png') }}" alt="" srcset="" width="50" class="rounded-circle">
                                        {% endif %}
                                    </div>
                                    <div class="p-2 flex-grow-1 bd-highlight">
                                        <small>{{ message.date_posted }}</small>
                                        <h2>{{ message.user_message.username }}</h2>
                                    </div>
                                    {% if current_user.id == message.user_id %}
                                        <div class="p-2 bd-highlight">
                                            <a href="{{ url_for('posts.edit_message', slug=slug, id=id, page_number=1, message_id=message.id) }}" class="btn btn-outline-light btn-sm rounded-pill">
                                                <i class="bi bi-pencil me-1"></i>Edit
                                            </a>
                                            <button class="btn btn-outline-light btn-sm rounded-pill" id="create_form_button" onclick="create_form('{{ message.content|striptags }}', '{{ csrf_token() }}', '{{ message.id }}')">
                                                Quick Edit
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body  m-3" id="message-body-{{ message.id }}">
                                {{ message.content|safe }}
                                <hr class="mt-5">
                                <h5 class="card-text">{{ message.user_message.about_author }}</h5>
                            </div>
                        </div> 
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %} 
    </div>

    <!-- Show pages buttons -->
    <div class="row my-4">
        <div class="col-12">
            <a href="{{ url_for('posts.view_messages', slug=slug, id=id, page_number=page_number - 1) }}" class="btn btn-light"><i class="bi bi-arrow-left d-flex justify-content-center"></i></a>
            {% for i in range(number_of_pages) %}
                {% if (i + 1) == page_number %}
                    <a href="{{ url_for('posts.view_messages', slug=slug, id=id, page_number=i+1) }}" class="btn btn-dark btn-sm">{{ i + 1 }}</a>
                {% else %}
                    <a href="{{ url_for('posts.view_messages', slug=slug, id=id, page_number=i+1) }}" class="btn btn-light btn-sm">{{ i + 1 }}</a>
                {% endif %}
            {% endfor %}
            {% if page_number != number_of_pages %}
                <a href="{{ url_for('posts.view_messages', slug=slug, id=id, page_number=page_number + 1) }}" class="btn btn-light"><i class="bi bi-arrow-right d-flex justify-content-center"></i></a>
            {% endif %}
        </div>
    </div>

    <!-- Replay form -->
    <div class="col-12 mt-5">
        <div class="shadow p-3 mb-5 bg-dark text-light rounded">
            <form action="" method="post">
                {{ form.hidden_tag() }}

                {{ form.content.label(class='form-label')}}
                {{ form.content(class='form-control', rows='5', style="background-color: #c9c9c9;")}}

                {{ form.submit(class='btn btn-secondary btn-sm mt-3')}}
            </form>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='content')}}
        </div>
    </div>

{% endblock %}