<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if current_user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-5">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('users.profile') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('posts.my_posts') }}">My Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('posts.add_post') }}">Add Post</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Posts Category
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                          {% for category in categories %}
                            <li><a class="dropdown-item" href="{{ url_for('posts.posts_category', category=category.name) }}">{{ category.name}}</a></li>
                          {% endfor %}
                        </ul>
                    </li>
                </ul>

                <form action="{{ url_for('main.search') }}" method="POST" class="d-flex me-lg-5">
                    {{ form.hidden_tag() }}
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                
                <ul class="navbar-nav ms-lg-5 mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle fs-4"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('users.edit_account', id=current_user.id) }}">Edit Account</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('users.logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>

            {% else %}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('users.register') }}">Register</a>
                    </li>
                </ul>
            {% endif %}

      </div>
    </div>
  </nav>