{% extends 'base.html' %}

{% block content %}
    <h1 class="text-light mb-5">Dashboard</h1>

    <div class="card bg-dark text-light">
        <div class="card-header">
          {{ current_user.name}}
        </div>
        <div class="card-body">
          <p class="card-text"><strong>User Id:</strong> {{ current_user.id }}</p>
          <p class="card-text"><strong>Name:</strong> {{ current_user.name }}</p>
          <p class="card-text"><strong>Username:</strong> {{ current_user.username }}</p>
          <p class="card-text"><strong>Email:</strong> {{ current_user.email }}</p>
          <p class="card-text"><strong>Number of messages:</strong> {{ amount_of_user_messages }}</p>

          <a href="{{ url_for('users.logout') }}" class="btn btn-secondary btn-sm">Logout</a>
        </div>
      </div>
    
{% endblock %}