{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h5 class="card-header text-center bg-dark text-light">Register</h5>
    <div class="card-body" style="background-color: #c9c9c9;">
        <form action="{{ url_for('users.register') }}" method="POST" class="px-5">
            {{ form.hidden_tag() }}
        
            <strong>{{ form.name.label(class='form-label')}}</strong>
            {{ form.name(class='form-control mb-3')}}

            <strong>{{ form.username.label(class='form-label')}}</strong>
            {{ form.username(class='form-control mb-3')}}

            <strong>{{ form.email.label(class='form-label')}}</strong>
            {{ form.email(class='form-control mb-3')}}

            <strong>{{ form.about_author.label(class='form-label')}}</strong>
            {{ form.about_author(class='form-control mb-3')}}
    
            <strong>{{ form.password.label(class='form-label')}}</strong>
            {{ form.password(class='form-control mb-3', autocomplete="new-password")}}

            <strong>{{ form.re_password.label(class='form-label')}}</strong>
            {{ form.re_password(class='form-control mb-3')}}
            
            <div class="vstack gap-2 col-md-5 mx-auto">
                {{ form.submit(class='btn btn-dark btn-sm')}}
            </div>
        </form>
    </div>
</div>

{% endblock %}