{% extends 'base.html' %}

{% block content %}  

<div class="card">
    <h5 class="card-header text-center bg-dark text-light">Reset Password</h5>
    <div class="card-body" style="background-color: #c9c9c9;">
        <form action="" method="POST" class="px-5">
            {{ form.hidden_tag() }}
            
            <strong>{{ form.password.label(class='form-label')}}</strong>
            {{ form.password(class='form-control mb-3')}}

            <strong>{{ form.confirm_password.label(class='form-label')}}</strong>
            {{ form.confirm_password(class='form-control mb-3')}}

            {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }} {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
                    
            <div class="vstack gap-2 col-md-5 mx-auto">
                {{ form.submit(class='btn btn-dark btn-sm')}}
            </div>
        </form>
    </div>
</div>

    
{% endblock %}
